{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">Liste des utilisateurs enregistrés</h1>

	<div class="text-center mt-4">

		<a href="{{ url('user_add') }}" type="button" style="height: 2em; border-radius: 0.5em; font-size: 1.5em" class="btn btn-dark text-warning">Ajouter un utilisateur</a>

	</div>

	<div class="mx-auto container mt-5">

		{{ include('_partials/_flash_messages.html.twig') }}

		<table class="table table-striped text-center mx-auto">
			<thead>
				<tr>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>

				{% for currentUser in user_list %}
					<tr>
						<td>{{ currentUser.getEmail }}</td>
					{% endfor %}
				</tr>
			</tbody>
		</tbody>
	</table>

{% endblock %}
